= link_to bookmark_path(@bookmark), :method => :delete, remote: true, data: { target: '#bookmark_it'} , class: 'btn btn-link btn', title: 'Clique para descurtir' do
  %i.glyphicon.glyphicon-thumbs-up
  curtiu