.row-fluid
  .icon-left.text-center
    %i.fa.fa-user.text-xlg
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Featured artists
      .panel-body
        %ul.grid.cs-style-3.row
          %li.col-lg-3{ ng: { repeat: 'artist in top_artists'} }
            = render 'home/artist'
.row-fluid
  .icon-left.text-center
    %i.fa.fa-circle.text-xlg
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Featured albums
      .panel-body
        %ul.grid.cs-style-3.row
          %li.col-lg-3{ ng: { repeat: 'album in top_albums'} }
            = render 'home/album'

.row-fluid
  .icon-left.text-center
    %i.fa.fa-music.text-xlg
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Featured tracks
        %button.btn.btn-xs.btn-primary.btn-outline.pull-right{ ng: { click: "addTracksToPlaylist(top_tracks, true)", title: 'Play all' } }
          %i.fa.fa-play
          Play all
      .panel-body
        .widget-followers
          .follower{ ng: { repeat: 'track in top_tracks', drag: "true", 'drag-data' => "track" } }
            = render 'home/track'
