.row-fluid
  .pull-left.text-center
    %i.fa.fa-user.text-xlg.panel-padding-h
  .search-result
    .col-md-12
      %h3.no-margin-t Artists
    - @search_result[:artists].each do |artist|
      = render 'home/artist', artist: artist

.clearfix
.row-fluid
  .pull-left.text-center
    %i.fa.fa-dot-circle-o.text-xlg.panel-padding-h
  .search-result
    .col-md-12
      %h3.no-margin-t Albums
    - @search_result[:albums].each do |album|
      .col-md-2
        = render 'home/album', album: album
.clearfix

.clearfix
.row-fluid
  .pull-left.text-center
    %i.fa.fa-music.text-xlg.panel-padding-h
  .search-result
    .col-md-12
      %h3.no-margin-t Tracks
    - @search_result[:tracks].each do |track|
      = render 'home/track', track: track
.clearfix
