%figure.album-cover{ ng: { drag: "true", 'drag-data' => "album" } }
  %img{ ng: { src: "{{album.image[3]['#text'] || album.picture || '/assets/demo/avatars/1.jpg'}}", click: "go([(album.artist.name || album.artist), album.name])" }, alt: '{{album.name}}' }
  %figcaption.bg-dark-gray
    %h5.overflow-h
      %a{ ng: { click: "go([(album.artist.name || album.artist), album.name])" } } {{album.name}}
    %span.overflow-h
      %a{ ng: { click: "go([album.artist.name || album.artist])" } } {{(album.artist.name || album.artist)}}
    %br
    %br
    .text-center
      .btn-group
        %a.btn.btn-primary{ title: 'Play', ng: { click: "addAlbumToPlaylist(album, true)"} }
          %i.fa.fa-play
        %a.btn.btn-primary{ title: 'Add to playlist', ng: { click: "addAlbumToPlaylist(album, fa)"} }
          %i.fa.fa-indent
    .clearfix
    %br
