%figure.album-cover
  = image_tag album.images['extralarge'].present? ? album.images['extralarge'] : 'demo/avatars/1.jpg', alt: album.name
  %figcaption.bg-dark-gray
    %h5= album.name
    %span album.artist
    %a{href: "http://dribbble.com/shots/1116685-Settings"} Play
.mosaic-block.album-cover{itemscope: '', itemtype: "http://schema.org/MusicGroup"}

