%figure.artist-cover{itemscope: '', itemtype: "http://schema.org/MusicGroup"}
  %img{ ng: { src: "{{artist.image[3]['#text']}}" }, alt: '{{album.name}}' }
  %figcaption.bg-dark-gray
    %h5.overflow-h.text-center
      %a{ ng: { click: "go('/'+artist.name)" } } {{artist.name}}
    .text-center
      .btn-group
        %a.btn.btn-primary{ ng: { click: "go('/'+artist.name)" }, title: 'Show info' }
          %i.fa.fa-search-plus
        %a.btn.btn-primary{ title: 'Play' }
          %i.fa.fa-play
        %a.btn.btn-primary{ title: 'Add to playlist' }
          %i.fa.fa-indent
    .clearfix
    %br

