%figure.artist-cover
  %img{ ng: { src: "{{artist.image[3]['#text'] || artist.picture}}" }, click: "go([artist.name])", alt: "{{artist.name}}" }
  %figcaption.bg-dark-gray
    %h5.overflow-h.text-center
      %a{ ng: { click: "go([artist.name])" } } {{artist.name}}
    .text-center
      .btn-group
        %a.btn.btn-primary{ title: 'Play', ng: { click: "addArtistToPlaylist(artist, true)"} }
          %i.fa.fa-play
        %a.btn.btn-primary{ title: 'Add to playlist', ng: { click: "addArtistToPlaylist(artist, false)"} }
          %i.fa.fa-indent

    .clearfix
    %br

