%figure.artist-cover{itemscope: '', itemtype: "http://schema.org/MusicGroup"}
  %meta{ itemprop: "name", content: artist.name.html_safe }
  %meta{ itemprop: "image", content: artist.images['extralarge'].present? ? artist.images['extralarge'] : 'demo/avatars/1.jpg' }
  %meta{ itemprop: "url", content: artist_custom_url(artist.name.html_safe) }
  = image_tag artist.images['extralarge'].present? ? artist.images['extralarge'] : 'demo/avatars/1.jpg', alt: artist.name
  %figcaption.bg-dark-gray
    %h5.overflow-h.text-center
      = artist.name
    .text-center
      .btn-group
        %a.btn.btn-primary{ title: 'Show info' }
          %i.fa.fa-search-plus
        %a.btn.btn-primary{ title: 'Play' }
          %i.fa.fa-play
        %a.btn.btn-primary{ title: 'Add to playlist' }
          %i.fa.fa-indent
    .clearfix
    %br

