%article.artists
  - @artists.in_groups_of(12, false) do |g|
    .row
      - g.each do |artist|
        .artist.col-md-1
          = link_to artist_root_path(artist['name'].gsub("&", "e").gsub(' ', '+')) do
            = image_tag artist['pic_medium'], alt: artist['name'], title: artist['name']
