.page-profile
  .profile-full-name
    %h1.text-semibold= @album.name
  .profile-row
    .left-col
      .profile-block
        .panel.profile-photo
          = image_tag @album.images['extralarge']
        %br/
        %a.btn.btn-default{:href => "#"}
          %i.fa.fa-play
          play
        %a.btn{:href => "#"}
          %i.fa.fa-indent
          add to playlist
      .panel.panel-transparent
        .panel-heading
          %span.panel-title About #{@album.name}
        .panel-body
          summary
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Statistics
        .list-group
          %a.list-group-item{:href => "#"}
            listeners
          %a.list-group-item{:href => "#"}
            plays
      .panel.panel-transparent.profile-skills
        .panel-heading
          %span.panel-title Tags
        .panel-body
          %span.label.label-primary asdfasdf
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Social
        .list-group
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-twitter{:style => "color: #4ab6d5"}
            @dsteiner
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-facebook-square{:style => "color: #1a7ab9"}
            Denise Steiner
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-envelope{:style => "color: #888"}
            dsteiner@example.com
    .right-col
      %hr.profile-content-hr.no-grid-gutter-h/
      .profile-content
        %ul#profile-tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#profile-tabs-top-albums"} Top albums
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-top-tracks"} Top Tracks
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-events"} Events
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-similar"} Similar artists
        .tab-content.tab-content-bordered.panel-padding
          #profile-tabs-top-albums.tab-pane.fade.in.active
            %ul.grid.cs-style-3.row


          #profile-tabs-top-tracks.tab-pane.fade.widget-followers

          #profile-tabs-events.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in
            .clearfix
          #profile-tabs-similar.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in
            %ul.grid.cs-style-3.row
