.page-profile{ ng: { if: "album != undefined" } }
  .profile-full-name
    %h2.text-semibold
      %a{ ng: { click: "go([album.artist])" } }
        {{album.artist}}
      \- {{album.name}}
      %ul.social_header
        %li
          %a{ ng: { href: "https://www.facebook.com/sharer/sharer.php?u={{url([album.artist, album.name])}}&t=► {{album.name}} - {{album.artist}} online on www.AlleSongs.com" }, target: "_blank", title: "Share on Facebook" }
            %i.fa.fa-facebook-square
            Facebook
        %li
          %a{ ng: { href: "https://twitter.com/share?url={{url([album.artist, album.name])}}&text=► {{album.name}} - {{album.artist}} online on www.AlleSongs.com" }, target: "_blank", title: "Share on Twitter" }
            %i.fa.fa-twitter-square
            Twitter
        %li
          %a{ ng: { href: "https://plus.google.com/share?url={{url([album.artist, album.name])}}&text=► {{album.name}} - {{album.artist}} online on www.AlleSongs.com" }, target: "_blank", title: "Share on Google +" }
            %i.fa.fa-google-plus-square
            Google +
      .clearfix

  .profile-row
    .left-col
      .profile-block
        .panel.profile-photo
          %img{ ng: { src: "{{album.image[3]['#text'] || '#{image_url('demo/avatars/1.jpg')}'}}" }, alt: '{{album.name}}' }
        %br/
        %a.btn.btn-default{ title: 'Play', ng: { click: "addAlbumToPlaylist(album, true)"} }
          %i.fa.fa-play
          play
        %a.btn{ title: 'Add to playlist', ng: { click: "addAlbumToPlaylist(album, false)"} }
          %i.fa.fa-indent
          add to playlist
      .panel.panel-transparent
        .panel-heading
          %span.panel-title About {{album.name}}
        .panel-body{ 'ng-bind-html' => 'album.wiki.summary | html_filter' }
          -#= @album.summary.gsub('http://www.last.fm/music', '').gsub('<a href="/Nirvana">Read more about Nirvana on Last.fm</a>.', '').html_safe
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Statistics
        .list-group
          %a.list-group-item
            %strong {{album.listeners}}
            listeners
          %a.list-group-item
            %strong {{album.playcount}}
            plays
      .panel.panel-transparent.profile-skills
        .panel-heading
          %span.panel-title Tags
        .panel-body
          %span.label.label-primary{ ng: { repeat: 'tag in album.toptags.tag'} } {{tag.name}}
      .panel.panel-transparent
        .panel-heading
          %span.panel-title More
        .list-group
          %a.list-group-item{ href: "{{album.url}}", target: '_blank' }
            View more from {{album.name}}
    .right-col
      %hr.profile-content-hr.no-grid-gutter-h/
      .profile-content
        %p
          %span{ 'ng-text-truncate' => 'album.wiki.content', 'ng-tt-chars-threshold' => '400' }
          %br
          %br

        %ul#profile-tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#profile-tabs-top-tracks", showtab: "" } {{album.name}} Tracks
          %li.pull-right
            %a{ ng: { show: 'album.tracks', click: "addAlbumToPlaylist(album, true)", title: 'Play all' } }
              %i.fa.fa-play
              Play this album
        .tab-content.tab-content-bordered.panel-padding
          #profile-tabs-top-tracks.tab-pane.fade.in.active.widget-followers

            .text-center{ ng: { hide: "album.tracks"} }
              %br
              %i.fa.fa-cog.fa-spin
              Loading tracks...
              %br
              %br
            .follower{ ng: { repeat: 'track in album.tracks.track', drag: "true", 'drag-data' => "track" } }
              = render 'home/track'
            .clearfix
          #profile-tabs-info.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in{ 'ng-bind-html' => 'album.wiki.content | html_filter' }

