@import "nprogress"
@import "layout-default"
@import "jquery.jscrollpane"

*:focus
  outline: none

a, a:visited
  color: #444
  &:hover
    color: #000
    text-decoration: none

.ui-layout-north
  padding: 0
  header
    .navbar
      border: 0
      border-bottom: 1px solid #e7e7e7
      .navbar-brand
        padding: 1px 10px
        h1
          font-family: 'Molle', cursive
          font-style: italic
          margin: 0 10px
          font-size: 30px
          float: left
          line-height: 47px
          i
            font-size: 14px
    #suggest_input
      width: 300px

.ui-layout-west
  padding-right: 10px
  margin: 0 10px
  .artist
    padding-left: 10px
    margin-bottom: 15px
    .cover
      padding-left: 0
      img
        width: 100%
    .info
      padding-left: 0
      h2
        margin-top: 0

  .albuns
    margin-right: 10px
    padding-left: 10px
    .panel.panel-default
      border: none
      border-top: 1px solid #e7e7e7
      border-radius: 0
      margin: 0
      > .panel-heading
        border: none
        background: none
      .panel-body
        padding: 0
        border-top: 0
    .album
      .cover
        padding-right: 0
        height: 35px
        img
          width: 100%
      .info
        height: 35px
        overflow: hidden
        padding-left: 10px
        h3
          line-height: 35px
      .actions
        padding: 0
        a
          line-height: 60px
      ol
        padding-left: 0
        margin-bottom: 0
        li.music_link
          line-height: 24px
          font-size: 12px
          list-style: none
          a
            cursor: pointer
          .song
            clear: both
          .col-md-10
            border-bottom: 1px solid #e7e7e7
            padding: 0
            height: 24px
            overflow: hidden
          &.active
            .icon-play
              color: #29d
          &:last-child .col-md-10
            border-bottom: 0
            margin-bottom: 10px
          span
            margin-left: 10px
          .icon-play-circle.action
            display: none
          &:not(.active):hover
            .icon-play-circle.action
              display: inline
    h3
      font-size: 100%
      margin: 0

    .panel-heading
      padding: 0
    .panel-group .panel+.panel
      margin: 0


.ui-layout-center
  #song_info
    h3
      margin-top: 0
  #player
    margin: 0

  #lyrics
    header
      h3
        margin-top: 0
  #lyric_text
    white-space: pre-line

.ui-layout-east
  #merchant
    margin-left: 10px
  #related_artists
    h3
      margin: 0 0 10px 10px
    ul
      padding-left: 10px
      li
        list-style: none
        overflow: hidden
        height: 39px
        margin-bottom: 1px
        span
          margin: 0
          line-height: 26px
          font-size: 120%
          padding-left: 10px
#social
  .twitter
    margin-right: 10px

.ui-layout-south
  border-top: 1px solid #e7e7e7
  .developed_by
    a
      color: #2299dd


.ui-menu
  .ui-menu-item
    height: 40px
    a
      line-height: 40px
    strong
      margin-left: 10px
