@import "http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700"
@import "typeaheadjs"
@import "xeditable"

@mixin overflow-h()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.theme-purple-hills
  .logo
    i.fa-youtube-play
      font-size: 118%

  a
    cursor: pointer
  #main-navbar .navbar-header a
    font-family: 'Cabin Sketch', cursive
    font-style: italic
    font-weight: bold
    padding: 0
    font-size: 23px

  #main-navbar .navbar-header
    padding-left: 73px !important

  .artist_picture
    height: 120px
    img
      min-height: 120px

  .search-result
    margin-left: 66px

  #player-container
    margin-top: -18px
    background-color: #ffffff
    border-left: 1px solid #e2e2e2
    border-bottom: 1px solid #e2e2e2
  .list-group-item, .list-group-item:hover, .list-group-item.active
    background-color: #ffffff
    background-position: left
    background-repeat: no-repeat
    background-size: 40px
    padding-left: 50px
    border-left: 0
    a
      text-decoration: none
      color: #555555
      cursor: pointer
    i
      cursor: pointer

    @include overflow-h()

  .list-group-item.active
    background-color: #857198

  .overflow-h
    @include overflow-h()

  .album-cover-caption
    display: none

  .page-profile
    margin-top: -20px
    .profile-photo, .widget-followers .follower-avatar
      border-radius: 0
      img
        border-radius: 0

  .icon-left
    padding-top: 7px
    padding-left: 15px
    float: left
  #playlist
    min-height: 2000px
    .list-group-item
      .actions
        display: none
      .duration
        display: inline
      &:hover
        .actions
          display: inline
        .duration
          display: none
      &.active
        a
          color: #fff
        border-color: #e4e4e4
  #playlist-header
    .fa-youtube-play
      margin-top: 4px
    .player_controls
      margin-top: 5px

  .about
    color: #a0a3b1

  .artist-cover
    figcaption
      top: 21px

  .playlist-menu
    .editable-input
      width: 146px
      margin-left: 4px
    .editable-buttons
      margin-left: 0
    li
      a
        cursor: pointer
      .actions
        > i
          display: none
        > span
          display: inline
      &:hover
        .actions
          > i
            display: inline
          > span
            display: none

  .top-tags
    strong
      color: #a0a3b1
    .label
      margin-right: 4px
      margin-bottom: 3px

  iframe
    margin-bottom: -4px