@import "http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700"
$color1: #F05023
$color2: #1E2213

body
  background-color: $color2
  color: #fff
.form-control:focus
  border: 1px solid #ccc
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

#home
  text-decoration: none
  text-align: center
  margin: 80px 0 40px 0
  h1
    font-family: 'Cabin Sketch', cursive
    font-style: italic
    font-weight: bold
    padding: 0
    font-size: 50px
    sup
      position: relative
      font-size: 30%
      top: -24px
      color: $color1
  .logo
    font-size: 100px



#search
  margin-top: 0
  margin-bottom: 80px
  form
    color: 333
    text-align: center
    input
      width: 320px
      height: 40px
      border: 1px solid $color2
    button
      width: 40px
      height: 40px
      border: 1px solid $color2

.row
  margin-left: 0
  margin-right: 0
.artists

  .artist
    padding: 0
    img
      width: 100%

footer
  font-size: 80%
  line-height: 26px
  padding: 0 10px
  .developed_by
    a
      color: $color1
  sup
    color: $color1

.ui-menu
  .ui-menu-item
    height: 40px
    a
      line-height: 40px
  strong
    margin-left: 10px
