<h1>New track</h1>

<form id="new-track" name="track">
  <div class="field">
    <label for="track"> track:</label>
    <input type="text" name="track" id="track" value="<%= track %>" >
  </div>

  <div class="field">
    <label for="artist"> artist:</label>
    <input type="text" name="artist" id="artist" value="<%= artist %>" >
  </div>

  <div class="field">
    <label for="session_id"> session_id:</label>
    <input type="text" name="session_id" id="session_id" value="<%= session_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Track" />
  </div>

</form>

<a href="#/index">Back</a>