:javascript
  <!--
  google_ad_client = "ca-pub-6352429358896551";
  /* Alle Songs */
  google_ad_slot = "3156809414";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
%script{src: "//pagead2.googlesyndication.com/pagead/show_ads.js", type: "text/javascript"}