- @page_title = @artist.present? ? "#{@artist['desc']} | Online Music Player" : "Alle Songs | Online Music Player"
- @page_description = "#{@page_title} | Ouça agora as discografias completas dos seus artistas preferidos online gratis!"
%title= @page_title
%meta{content: @page_description, name: "description"}
%meta{content: "letra, player online, discografia", name: "keywords"}
%meta{content: "website", property: "og:type"}
%meta{content: "Alle Songs", property: "og:site_name"}
%meta{content: @page_title, property: "og:title"}
- if @artist.present?
  %meta{content: artist_index_url(artist: @artist['desc']), property: "og:url"}
- else
  %meta{content: root_url, property: "og:url"}

%meta{content: @page_description, property: "og:description"}
%link{ rel: "shortcut icon", href: "/assets/favicon.ico" }
