#player-container.col-md-4.no-padding-hr
  #content-wrapper.no-padding-hr
    .panel.panel-dark.widget-profile.no-border
      #playlist-header
        .panel-heading.bg-dark-gray.border-dark-gray.no-border.padding-sm
          .widget-profile-bg-icon
            %i.fa.fa-music
          %div{ ng: { if: "current_track != undefined" } }
            %img.widget-profile-avatar{:alt => "", ng: { :src => "{{current_track.picture}}" } }/
            .widget-profile-header
              %span {{current_track.artist}}
              %br/
              %a {{current_track.name}} ({{current_track.duration}})

          %div{ ng: { show: "current_track == undefined", click: "play(tracks[0])"}}
            .widget-profile-avatar
              %i.fa.fa-youtube-play.icon.fa-3x
            .widget-profile-header
              %span AlleSongs
              %br/
              %a The best player ever!

      .widget-profile-text.no-padding
        -#%iframe{allowfullscreen: "", frameborder: "0", height: "220", src: "//www.youtube.com/embed/ac_iEm4fpmQ", width: "100%"}
        #player_container
      .widget-profile-text.bg-dark-gray
        .pull-left
          %i.fa.fa-th-list
          PLAYLIST

        .pull-right
          %a{ ng: { click: "clearPlaylist()" }, title: 'Clear playlist'}>
            %i.fa.fa-trash-o
            &nbsp;
            clear playlist
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          %i.fa.fa-fast-backward{ ng: { click: "loadPrevious()" }, title: 'Next'}>
          &nbsp;
          &nbsp;
          %i.fa.fa-play{ ng: { show: "!playing", click: "playVideo()"}}
          %i.fa.fa-pause{ ng: { show: "playing", click: "pauseVideo()"}}
          &nbsp;
          &nbsp;
          %i.fa.fa-fast-forward{ ng: { click: "loadNext()" }, title: 'Next'}>

        .clearfix
      .clearfix
      #playlist.list-group.fill
        .list-group-item{ ng: { repeat: "track in tracks", class: "{active: track == current_track}", style: "{'background-image':'url('+track.picture+')'}"}, id: "playlist_track_{{track.id}}"}
          %a{ ng: { click: "play(track)" }, title: 'Click to play'}
            %span.track_index {{($index + 1)}}.
            %strong
              {{track.artist}}
            \-
            {{track.name}}
          .pull-right
            %span.label {{track.duration | date:'mm:ss'}}
          .actions
            %i.fa.fa-play.list-group-icon{ ng: { show: "(!playing && current_track != track) || current_track != track", click: "play(track)" }, title: 'Play'}>
            %i.fa.fa-play.list-group-icon{ ng: { show: "!playing && current_track == track", click: "playVideo()" }, title: 'Play'}>
            %i.fa.fa-pause.list-group-icon{ ng: { show: "playing && current_track == track", click: "pauseVideo()"}, title: 'Pause'}
            %i.fa.fa-trash-o.list-group-icon{ ng: { click: "removeFromPlaylist(track)" }, title: 'Remove from playlist'}>
  .row
